body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover{
    color:yellow;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 100%;
    height: auto;
}

.social{
    display: flex;
    gap: 20px;
    list-style: none;
}

footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card{
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
}
.btn {
    display: inline-block;
    background: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.btn:hover {
    background: #555;
}
.hero{
    background: #eee;
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
}
.hero h1{
    font-size: 36px;
}

section{
    margin-bottom: 40px;
}
.menu {
    display: flex;
    gap: 20px;
}
.logo{
    font-weight: bold;
    font-size: 20px;
}
@media (max-width:1024px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .menu{
        flex-direction: column;
        align-items: center;
    }
    .navbar{
        flex-direction: column;
        gap: 10px;
    }
    h1{
        font-size: 24px;
    }
    .grid{
        grid-template-columns: 1fr;
    }
}